<%= render :partial => 'include_periodicals' %>
<div class="table-div">
  <% if @records.empty? %>
    <%= link_to :back, :class => "table-cell-div arrow arrow-left" do %>
      <div class="span1"><i class="icon-chevron-left icon-large"></i></div>
    <% end %>
    <div class="table-cell-div">
      <div class="span10 thumbnails-div">
        <div class="slide">
          <p>There's nothing here</p>
        </div>
      </div>
    </div>
    <%= link_to "#", :class => "table-cell-div arrow arrow-right" do %>
      <div class="span1">&nbsp;</div>
    <% end %>
  <% else %>
    <%= link_to before_record_path(@records.first.document_number), :class => "table-cell-div arrow arrow-left" do %>
      <div class="span1"><i class="icon-chevron-left icon-large"></i></div>
    <% end %>
    <%= render 'thumbnails', :records => @records %>
    <%= link_to after_record_path(@records.last.document_number), :class => "table-cell-div arrow arrow-right" do %>
      <div class="span1"><i class="icon-chevron-right icon-large"></i></div>
    <% end %>
  <% end %>
</div>
